# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Executables & Zips (Basura de copias manuales)
*.exe
*.zip
build/
dist/
*.spec

# OS files
.DS_Store
Thumbs.db

# Project specific
bin/
requirementsRESPALDO.txt
out.txt
out_img.txt
out_img2.txt
out_single.txt
